[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hivemind = "*"
transformers = "*"
datasets = "*"
torch-optimizer = "==0.1.0"
wandb = "*"
sentencepiece = "*"
requests = "*"
nltk = "*"
torch = "~=2.2"
accelerate = "*"
ipykernel = "*"
jupyter = "*"
huggingface-hub = "*"
bitsandbytes = "*"
peft = "*"
termcolor = "*"

[dev-packages]

[requires]
python_version = "3.10"
